<div class="uk-container uk-container-expand uk-margin-top ">
  <nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav uk-margin-bottom">
        <li class="uk-active">TERRITORIOS DE CAMPO</li>
      </ul>
    </div>
  </nav>
  <app-loading *ngIf="busy"></app-loading>

  <uL class="uk-child-width-1-1@s uk-overflow-auto" uk-grid *ngIf="!busy">
    <li>
      <div>
        <div class="uk-card uk-card-default uk-card-hover uk-card-body">
          <h3 class="uk-card-title uk-margin-remove-bottom"> 06 - ESCOLA A</h3>

          <div class="uk-cover-container uk-height-1-1">
            <iframe class="uk-align-center"
              src="https://www.google.com/maps/d/embed?mid=1cgbUKmOtBbp7l-K258SM70LMz5FW29ZL" width="1024" height="768"
              frameborder="0" allowfullscreen></iframe>
          </div>
          <button class="uk-button uk-button-primary uk-button-large uk-width-1-1 uk-margin-top" uk-icon="icon: home">
            Casas que não deve bater </button>

          <button class="uk-button uk-button-primary uk-button-large uk-width-1-1 uk-margin-top" uk-icon="icon: list">
            Registro de Casa em Casa </button>


        </div>
      </div>
    </li>

    <li>
      <div>
        <div class="uk-card uk-card-default uk-card-hover uk-card-body">
          <h3 class="uk-card-title uk-margin-remove-bottom"> 06 - ESCOLA B</h3>

          <div class="uk-cover-container uk-height-1-1">
            <iframe class="uk-align-center"
              src="https://www.google.com/maps/d/u/0/embed?mid=1ARe7wh8HdSVjvzQO20Yy6Styc1unpSU7" width="1024"
              height="768" frameborder="0" allowfullscreen></iframe>
          </div>
          <button class="uk-button uk-button-primary uk-button-large uk-width-1-1 uk-margin-top" uk-icon="icon: home">
            Casas que não deve bater </button>

          <button class="uk-button uk-button-primary uk-button-large uk-width-1-1 uk-margin-top" uk-icon="icon: list">
            Registro de Casa em Casa </button>


        </div>
      </div>
    </li>


    <li>
        <div>
          <div class="uk-card uk-card-default uk-card-hover uk-card-body">
            <h3 class="uk-card-title uk-margin-remove-bottom"> 06 - ESCOLA C</h3>
  
            <div class="uk-cover-container uk-height-1-1">
              <iframe class="uk-align-center"
                src="https://www.google.com/maps/d/u/0/embed?mid=1PPi8Ofhlo-z2Lpjh8W_ETUvvqQOq-bFs" width="1024"
                height="768" frameborder="0" allowfullscreen></iframe>
            </div>
            <button class="uk-button uk-button-primary uk-button-large uk-width-1-1 uk-margin-top" uk-icon="icon: home">
              Casas que não deve bater </button>
  
            <button class="uk-button uk-button-primary uk-button-large uk-width-1-1 uk-margin-top" uk-icon="icon: list">
              Registro de Casa em Casa </button>
  
  
          </div>
        </div>
      </li>
 

  </uL>



</div>